[defaults]
stdout_callback = json
callbacks_enabled = json,profile_tasks

[inventory]
# Enable the ServiceNow plugin explicitly
enable_plugins = host_list, script, yaml, ini, toml, servicenow.itsm.now
